.user-form {
    display: flex;
    flex-direction: column;

    width: 680px;

    padding: 42px 40px;

    background: #E5EAF8;
}

.user-field {
    display: flex;
    flex-direction: column;
}

.user-field-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #1E0606;
    margin-bottom: 6px;
}

.user-field-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 20px;
}

.user-field-input, .user-field-input-m {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.user-field-input {
    height: 50px;
    margin-bottom: 20px;
}

.user-field-input-m {
    width: 325px;
    height: 50px;
}

.user-field-text-area {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    height: 150px;

    margin-bottom: 20px;

    resize: none;
}

.user-field-check {
    margin-bottom: 20px;
}

.user-field-check-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #1E0606;
}

.modal-field-checkbox {

}

.user-submit-button {
    font-family: Open Sans;
    padding: 9px 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border: none;
    width: 90px;
    height: 40px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    background: #000000;
    color: #FFFFFF;
    margin: 10px 0px;
}

.user-field-input:hover, .user-field-input-m:hover, .user-field-text-area:hover {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.user-field-input:active, .user-field-input-m:active, .user-field-text-area:active {
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.user-submit-button:hover {
    background: #C29974;
}

.user-submit-button:active {
    background: #CFAF91;
}

.user-submit-button:disabled {
    background: #C1C1C1;
}

.user-field-check {
    cursor: pointer;
	user-select: none;
	position: relative;
}

.user-field-check input[type=checkbox] {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.user-field-check label {
    display: inline-block;
	position: relative;
	padding: 0 0 0 35px;
	line-height: 22px;
    cursor: pointer;
}

.user-field-check label:before {
    content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: url("../../images/svg/Uncheck-box.svg") 0 0 no-repeat;
}

.user-field-check input[type=checkbox]:checked + label:before {
    background: url("../../images/svg/Check-box.svg") 0 0 no-repeat;
}