@import "../blocks/body.css";
@import "../blocks/header.css";
@import "../blocks/footer.css";
@import "../blocks/main.css";
@import "../blocks/grid.css";
@import "../blocks/breadcrumbs.css";
@import "../blocks/pagination.css";

.main-headline {
    margin-bottom: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;

    text-transform: uppercase;

    color: #1E0606;
}

.main-products-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 60px;
}

.main-products-list-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;

    margin-bottom: 50px;
}

.main-pagination {
    margin-bottom: 20px;
}

.main-products-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    margin: auto;
}

.main-products-list-item-img {
    width: 380px;
    height: 385px;
}

.main-products-list-item-name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #1E0606;

    margin-bottom: 15px;
}

.main-products-list-item-price {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    text-align: center;

    color: #1E0606;
}

.main-form {
    margin-top: 50px;
    background: rgba(125, 151, 218, 0.2);
    height: 254px;
    display: flex;
    align-items: center;
}

.main-form-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-form-item {
    display: flex;
    flex-direction: column;
}

.main-form-item-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: #1E0606;
}

.main-form-item-checkbox-list, .main-form-item-radio-list, .main-form-item-radio-buttons-list {
    padding: 0px;
}

.main-form-item-list-unit, .main-form-item-radio-list-unit {
    margin-bottom: 10px;
}

.main-form-item-list-unit, .main-form-item-radio-list-unit, .main-form-item-radio-buttons-unit {
    list-style-type: none;
}

.main-form-item-radio-buttons-unit input[type=radio] {
    display: none;
}

.main-form-item-radio-buttons-unit label {
    padding: 7px 28px;
    cursor: pointer;
    background: #FFFFFF;
    user-select: none;
}

.main-form-item-radio-buttons-unit input[type=radio]:checked + label{
    background: #F3D0DB;
}

.main-form-item-radio-buttons-unit label:hover {
    background: #EDDEEB;
}

.main-form-item-radio-list-unit input[type=radio] {
    display: none;
}

.main-form-item-radio-list-unit label {
    display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.main-form-item-radio-list-unit label:before {
    content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
    background: url("../../images/svg/Uncheck-radio.svg") 0 0 no-repeat;

}

.main-form-item-radio-list-unit input[type=radio]:checked + label:before {
    background: url("../../images/svg/Check-radio.svg") 0 0 no-repeat;
}

.main-form-item-radio-list-unit  label:hover:before{
    filter: brightness(100%);
    text-decoration-line: underline;
}

.main-form-item-radio-list-unit-label:hover, .main-form-item-list-unit-label:hover {
    text-decoration-line: underline;
}

.main-form-item-list-unit {
    cursor: pointer;
	user-select: none;
	position: relative;
}

.main-form-item-list-unit input[type=checkbox] {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.main-form-item-list-unit label {
    display: inline-block;
	position: relative;
	padding: 0 0 0 35px;
	line-height: 22px;
    cursor: pointer;
}

.main-form-item-list-unit label:before {
    content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	transition: background 0.3s ease;
	background: url("../../images/svg/Uncheck-box.svg") 0 0 no-repeat;
}

.main-form-item-list-unit input[type=checkbox]:checked + label:before  {
    background: url("../../images/svg/Check-box.svg") 0 0 no-repeat;
}

.main-form-item-range {
    -webkit-appearance: none;
    border-radius:2px;
    width:234px;
    height:4px;
    outline : none;
    background: #000000;
    background:-webkit-linear-gradient(left , #c29974 0%, #c29974 25%, #000000 25%, #000000 100%);
}

.main-form-item-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: url("../../images/svg/RangeRound.svg");
    width: 24px;
    height: 24px;
    cursor:pointer;
    transition:.1s;
}

.main-form-item-range::-webkit-slider-thumb:hover {
    opacity: 0.9;
}

.main-form-item-range-numbers {
    display: flex;
    justify-content: space-between;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #1E0606;
}

.main-form-item-checkbox-list, .main-form-item-radio-list, .main-form-item-radio-buttons-list {

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #1E0606;
}

.main-form-item-radio-buttons-list {
    display: flex;
    flex-direction: row;
}

.main-form-item-button {
    padding: 9px 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 95px;
    height: 40px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    background: #000000;
    border: none;
    color: #FFFFFF;
    margin: 10px 0px;
}

.main-form-item-button:hover {
    background: #C29974;
}

.main-form-item-button:active {
    background: #CFAF91;
}

.main-form-item-button:disabled {
    background: #C1C1C1;
}

.learn-more-box {
    display: none;
    position: absolute;
    left: 100px;

    width: 207px;
    height: 207px;
    line-height: 207px;

    text-align: center;

    background: #E5EAF8;
    opacity: 0.9;
}

.learn-more {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;

    text-align: center;
    text-transform: uppercase;

    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.main-products-list-item:hover .learn-more-box {
    display: block;
}

.main-products-list-item:active .learn-more-box {
    opacity: 0.67;
}